.contact-header .header-content {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  }
  
  .card:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
  }
  
  .map-container .map-overlay h3 {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
  }
  
  .btn:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
  }

  
  .running-text {
    width: 100%; /* Full width */
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* No wrapping */
    box-sizing: border-box;
    background-color: white; /* Light background for visibility */
    padding: 10px 0; /* Padding for some spacing */
    font-size: 1.2rem; /* Slightly larger font */
    color: #333; /* Text color */
  }
  
  .running-text span {
    display: inline-block;
    padding-left: 100%; /* Start outside of the container */
    animation: moveText 30s linear infinite; /* Slow animation for readability */
  }
  
  @keyframes moveText {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  