.navbar-nav {
  align-items: center; /* Align all nav items vertically */
}

.nav-item .nav-link,
.nav-item .dropdown-toggle {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  padding: 10px 15px;
}

.dropdown-menu {
  background-color: #1e3c72;
  color: white;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #ffc107;
  color: #1e3c72;
}

.search-bar {
  border-radius: 20px;
  max-width: 200px;
}

.navbar-brand img {
  height: 50px;
  width: auto;
  margin-top: 0;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start; /* Left align the items */
    padding-left: 10px;
    width: 100%; /* Full width */
  }

  .navbar-brand img {
    height: 30px;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }
  
  .navbar-collapse {
    width: 100%; /* Ensure the navbar takes up full width */
  }
}
